<%= content_tag(:div, id: dom_id(post), class: "p-2 mb-2 border rounded") do %>

  <span>ID  <%= post.id %> | </span>

  <%= link_to post.title, post %>

  <div class="post_state d-inline text-secondary fw-bold">
    Состояние: <span class="badge bg-secondary"><%= post.state %></span>
  </div>

  <% if post.state == 'draft' %>
    <div class="post_actions d-inline ms-3">
      <%= link_to 'На модерацию', post_path(post, state_action: 'submit_to_review'), data: { 'turbo-method': :patch }, class: 'btn btn-sm btn-success' %>

      <%= link_to 'Удалить', post_path(post), data: { 'turbo-method': :delete }, class: 'btn btn-sm btn-outline-danger' %>

      <%= link_to post_path(post), class: 'dropdown-item text-danger bg-danger-soft-hover', data: { "turbo-method": :delete, turbo_confirm: "Точно удалить - Вы уверены?" } do %>
        <i class="bi bi-trash fa-fw me-2"></i>Удалить
      <% end %>

      <%#= link_to 'Reject', vacation_path(vacation, status_action: 'reject'), data: { 'turbo-method': :patch }, class: 'btn btn-sm btn-outline-danger' %>
    </div>
  <% end %>
<% end %>