<%= content_tag(:div, id: dom_id(post), class: "p-2 mb-2 border rounded") do %>

  <span>ID  <%= post.id %> | </span>

  <%= link_to post.title, post %>

  <div class="post_state d-inline text-secondary fw-bold">
    Состояние: <span class="badge bg-secondary"><%= post.state %></span>
  </div>

  <% if post.state == 'draft' %>
    <div class="post_actions d-inline ms-3">
      <%= link_to post_path(post, state_action: 'submit_to_review'),
                                  data: { 'turbo-method': :patch },
                                  class: 'btn btn-sm btn-success' do %>

        <i class="bi bi-arrow-up-right-circle fa-fw me-1"></i>На модерацию
      <% end %>

      <%= link_to post_path(post), data: { 'turbo-method': :delete }, class: 'btn btn-sm btn-outline-danger' do %>
        <i class="bi bi-trash fa-fw me-1"></i> Удалить
      <% end %>
    </div>
  <% end %>
<% end %>
