<div class="row">
  <div class="col-12 text-center">
    <h1 class="fs-2 mb-2">Все посты</h1>
    <p class="mb-0">Можно сортировать по региону, автору, дате</p>
  </div>
</div>

<%= form_with url: posts_path, method: :get, local: true, data: { turbo_frame: 'posts', turbo_stream: true }, id: 'filter-form' do |form| %>
  <div id="forms_errors"></div>

  <div class="border rounded p-3 my-3 shadow">
    <div>
      <%= form.label :region_id, 'Регион', class: "form-label" %>
      <%= form.collection_select :region_id, Region.all, :id, :name, { include_blank: 'Все регионы' }, class: "form-select" %>
    </div>
    <div>
      <%= form.label :user_id, 'Автор', class: "form-label" %>
      <%= form.collection_select :user_id, User.all, :id, :fio, { include_blank: 'Все авторы' }, class: "form-select" %>
    </div>

    <div class="row my-3">
      <div class="col-md-6">
        <%= form.label :start_date, 'Дата начала', class: "form-label" %>
        <%= form.date_field :start_date, class: "form-control" %>

      </div>
      <div class="col-md-6">
        <%= form.label :end_date, 'Дата окончания', class: "form-label" %>
        <%= form.date_field :end_date, class: "form-control" %>

      </div>
    </div>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-start my-3">
      <%= form.submit 'Фильтр', class: "btn btn-primary" %>
      <a data-controller="report" data-action="click->report#downloadReport" href="#" class="btn btn-success">Скачать отчет</a>
    </div>
  </div>
<% end %>

<%= turbo_frame_tag :posts do %>
  <%= render partial: 'posts/post_index', collection: @posts, as: :post %>
<% end %>

